%section
  %h3 Pune Ruby

  %article
    %h4 Upcoming Meetups: June 8, 15th, 2012.
    %p Open Source Fridays (OSF). Periodic meetup on fridays.
    %p Visit: http://www.meetup.com/PuneRailsMeetup/events/66668492/
